.navbar{
  display: flex;
  justify-content: center;
  font-family: sans-serif;
  animation: fadeInAnimation ease 2.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  background-color: rgba(240, 248, 255, 0);
  transition-property: background-color, color;
  transition-duration: 0.5s;
}

.navbar-container-open{
  opacity: 1;
  transition-property: opacity;
  transition-duration: 0.5s;
}

.navbar-container-closed{
  opacity: 0;
  transition-property: opacity, z-index;
  transition-duration: 0.5s;
  z-index: -1;
}

.social{
  border-color: solid red 9px;
}


.navbar-bg{
  display: flex;
  justify-content: center;
  font-family: sans-serif;
  background-color: rgba(255, 199, 78, 0.732);
  transition-property: background-color, color;
  transition-duration: 0.5s;
}

.navbar a {
  color: rgb(194, 193, 193);
  text-decoration: none;
  transition: color 0.3s;
}

.navbar a:hover{
  color: rgb(255, 199, 78);
}

.navbar-bg a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  transition: color 0.3s;
}

.navbar-bg a:hover{
  color: rgb(200, 200, 200);
}

#inicio, #nosotros, #servicios, #galeria, #contacto{
  scroll-margin-top: 6em;
}

.navbar-list{
  list-style-type: none;
  display: inline;
  margin-top: 25px;
}

.navbar-list li{
  display: inline;
  margin: 25px;
}

.nosotros{
  height: 1000px;
}



.container-main{
  padding: 4px;
  margin: 5px;
  font-family: sans-serif;
  background-color: black;
  color: rgb(194, 193, 193);
}

.headerpicture{
  margin-top: 5%;
}

.headerpicture img{
  width: 100%;
  height: fit-content;
  animation: fadeInAnimation ease 2.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}

.nosotros-container{
  margin-top: 15%;
}

.nosotros-text-container{
  font-size: 25px;
}

.servicios-container{
  margin-top: 15%;
  display: flex;
  justify-content: center;
}


.servicios-list li{
  list-style-type: none;
  margin-top: 25px;
}


.servicios-precio li{
  list-style-type: none;
  margin-top: 25px;
}

.galeria-container{
  margin-top: 15%;
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-width: 33%;
  -moz-column-width: 33%;
  column-width: 33%;
  padding: 0 12px;
}

.galeria-container .pics{
  transition: all 350ms ease;
  cursor: pointer;
  margin-bottom: 12px;
}

.galeria-container .pics:hover{
  filter: opacity(0.5);
}

.model{
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  transition: opacity .8s ease, visibility .8s ease;
  visibility: hidden;
  opacity: 0;
  transform: scale(1);
  overflow: hidden;
  z-index: 999;
}

.model.open{
  visibility: visible;
  height: 100vh;
  opacity: 1;
  transform: scale(1);
}

.model.open img{
  width: 50%;
  height: fit-content;
}

.model.open svg{
  position: fixed;
  top: 20px;
  right: 20px;
  width: 2rem;
  height: 2rem;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  cursor: pointer;
}

.model img{
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  display: block;
  line-height: 0;
  box-sizing: border-box;
  padding: 20px 0 20px;
  margin: 0 auto;
}

hr {
  border-width: 3px;
}

.footer-container{
  margin-top: 10%;
}

.footer-container a {
  color: rgb(194, 193, 193);
  text-decoration: none;
  transition: color 0.3s;
}

.footer-container a:hover {
  color: rgb(194, 193, 193);
  text-decoration: none;
  transition: color 0.3s;
}



.horarios ul{
  list-style-type: none;
}

.horarios{
  text-align: right;
}