.navbar{
  display: flex;
  justify-content: center;
  font-family: sans-serif;
  animation: fadeInAnimation ease 2.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  background-color: rgba(240, 248, 255, 0);
  transition-property: background-color, color;
  transition-duration: 0.5s;
}


.navbar-bg{
  display: flex;
  justify-content: center;
  font-family: sans-serif;
  background-color: rgb(255, 199, 78);
  transition-property: background-color, color;
  transition-duration: 0.5s;
}

.navbar a {
  color: rgb(194, 193, 193);
  text-decoration: none;
  transition: color 0.3s;
}

.navbar a:hover{
  color: rgb(255, 199, 78);
}

.navbar-bg a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  transition: color 0.3s;
}

.navbar-bg a:hover{
  color: rgb(200, 200, 200);
}

#inicio, #nosotros, #servicios, #galeria, #contacto{
  scroll-margin-top: 6em;
}

.navbar-list{
  list-style-type: none;
  display: inline;
  margin-top: 25px;
}

.navbar-list li{
  display: inline;
  margin: 25px;
}

.nosotros{
  height: 1000px;
}



.container-main{
  padding: 4px;
  margin: 5px;
  font-family: sans-serif;
  background-color: black;
  color: rgb(194, 193, 193);
}

.headerpicture{
  margin-top: 5%;
}

.headerpicture img{
  width: 100%;
  height: fit-content;
  animation: fadeInAnimation ease 2.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}

.nosotros-container{
  margin-top: 15%;
}

.nosotros-text-container{
  font-size: 25px;
}

.servicios-container{
  margin-top: 15%;
  display: flex;
  justify-content: center;
}


.servicios-list li{
  list-style-type: none;
  margin-top: 25px;
}


.servicios-precio li{
  list-style-type: none;
  margin-top: 25px;
}

.galeria-container{
  margin-top: 15%;
  height: 1000px;
}

hr {
  border-width: 3px;
}


.horarios ul{
  list-style-type: none;
}

.horarios{
  text-align: right;
}